<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for student in frequencesStudy %}
        {% for type,frequences in student.items() %}
            {% if type == 'daily' %}

                {% for frequence_daily in student[type] %}

                    {% for key,value in frequence_daily.items() %}

                        {{ key }} : {{ value }}<hr>

                    {% endfor %}
                
                {% endfor %}
            
            {% elif type == 'disciplines' %}

                {% for discipline_frequence in student[type] %}

                    {% for discipline, ausences in discipline_frequence.items() %}

                        {{ discipline }} : {{ ausences }}<hr>

                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>