<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jinja.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</head>
<body>
    <!--ANALISAR EXEMPLO DE DICIONÁRIO RETORNADO EM Frequences.frequece.py rota /frequence-->
    {% for student in frequencesStudy %}
    
        {% for type,frequences in student.items() %}
            {% if type == 'daily' %}

                <p>FREQUÊNCIAS DIÁRIAS:</p><hr>

                {% for frequence_daily in student[type] %}

                    {% for key,value in frequence_daily.items() %}

                        {% if key != '_id' %}

                            {{ key }} : {{ value }}<hr>
                        
                        {% endif %}

                    {% endfor %}
                
                {% endfor %}
            
            {% elif type == 'disciplines' %}
            <div>
                <table>
                    <thead>
                        <tr>
                            <th> TOTAIS POR DISCIPLINA:</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for discipline_frequence in student[type] %}

                        {% for discipline, ausences in discipline_frequence.items() %}
                            <tr>
                            <td>{{ discipline }}:</td> <td>{{ ausences }}</td>
                            <tr>
                        {% endfor %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif type == 'disciplines_periods' %}
            
                <p>TOTAIS POR TRIMESTRE: </p><hr>

                {% for discipline, periods in student[type].items() %}

                    <p>{{ discipline }}:</p><hr>

                    {% for period, totals in periods.items() %}

                        {% if period != 'Férias' %}

                            {{ period }} : {{totals }}<hr>
                        
                        {% endif %}
                    
                    {% endfor %}
                
                {% endfor %}
            
            {% elif type == 'percents' %}

                <p>PERCENTUAIS DE FREQUÊNCIA:</p><hr>

                {% for discipline,periods in student[type].items() %}

                    <p>{{ discipline }}:</p><hr>

                    {% for period,ausences in periods.items() %}

                        {{ period }}:

                        {% for type_ausence, percent in ausences.items() %}

                            {{ type_ausence }}:{{ percent }}

                        {% endfor %}
                        <hr>
                    {% endfor %}

                {% endfor %}

            {% endif %}
        
        {% endfor %}
    
    {% endfor %}
</body>
</html>